In [24]:
import mysql.connector
db = mysql.connector.connect(
    host='localhost',
    user = 'root',
    password = '',
    database = 'python'
)
mycursor = db.cursor()
mycursor.execute('SHOW DATABASES')
for database in mycursor:
    print(database)

('flask',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('python',)
('test',)

In [11]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [12]:
mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x)

('contact',)
('customers',)
('users',)

In [6]:
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [15]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)
db.commit()
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [17]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)
db.commit()
print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [19]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)
db.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 0

In [20]:
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21')
('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')
('Michelle', 'Blue Village')

In [21]:
mycursor.execute("SELECT name, address FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21')
('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')
('Michelle', 'Blue Village')

In [22]:
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchone()
print(myresult)

('John', 'Highway 21')

In [25]:
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Ben', 'Park Lane 38')

In [26]:
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21')
('John', 'Highway 21')
('Susan', 'One way 98')
('Viola', 'Sideway 1633')

In [27]:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )
mycursor.execute(sql, adr)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Vicky', 'Yellow Garden 2')

In [28]:
sql = "SELECT * FROM customers ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Amy', 'Apple st 652')
('Ben', 'Park Lane 38')
('Betty', 'Green Grass 1')
('Chuck', 'Main Road 989')
('Hannah', 'Mountain 21')
('John', 'Highway 21')
('John', 'Highway 21')
('Michael', 'Valley 345')
('Michelle', 'Blue Village')
('Michelle', 'Blue Village')
('Peter', 'Lowstreet 4')
('Richard', 'Sky st 331')
('Sandy', 'Ocean blvd 2')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Viola', 'Sideway 1633')
('William', 'Central st 954')

In [29]:
sql = "SELECT * FROM customers ORDER BY name DESC"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('William', 'Central st 954')
('Viola', 'Sideway 1633')
('Vicky', 'Yellow Garden 2')
('Susan', 'One way 98')
('Sandy', 'Ocean blvd 2')
('Richard', 'Sky st 331')
('Peter', 'Lowstreet 4')
('Michelle', 'Blue Village')
('Michelle', 'Blue Village')
('Michael', 'Valley 345')
('John', 'Highway 21')
('John', 'Highway 21')
('Hannah', 'Mountain 21')
('Chuck', 'Main Road 989')
('Betty', 'Green Grass 1')
('Ben', 'Park Lane 38')
('Amy', 'Apple st 652')

In [30]:
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"
mycursor.execute(sql)
db.commit()
print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [31]:
sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )
mycursor.execute(sql, adr)
db.commit()
print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [ ]:
sql = "DROP TABLE customers"
mycursor.execute(sql)

In [32]:
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
mycursor.execute(sql)
db.commit()
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [34]:
sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")
mycursor.execute(sql, val)
db.commit()
print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [35]:
mycursor.execute("SELECT * FROM customers LIMIT 5")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21')
('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Michael', 'Valley 345')

In [36]:
mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')

In [37]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

ProgrammingError: 1146 (42S02): Table 'python.users' doesn't exist