In [12]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
print(myclient.list_database_names())
mydb = myclient["mydatabase"]
print(mydb.list_collection_names())
mycol = mydb['customers']

['admin', 'config', 'database', 'local', 'registration', 'students-api', 'test']
[]

In [17]:
mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

601a92b45a221379b5afe7f9

In [18]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('601a92e35a221379b5afe7fa'), ObjectId('601a92e35a221379b5afe7fb'), ObjectId('601a92e35a221379b5afe7fc'), ObjectId('601a92e35a221379b5afe7fd'), ObjectId('601a92e35a221379b5afe7fe'), ObjectId('601a92e35a221379b5afe7ff'), ObjectId('601a92e35a221379b5afe800'), ObjectId('601a92e35a221379b5afe801'), ObjectId('601a92e35a221379b5afe802'), ObjectId('601a92e35a221379b5afe803'), ObjectId('601a92e35a221379b5afe804'), ObjectId('601a92e35a221379b5afe805')]

In [21]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('601a92905a221379b5afe7f7'), 'name': 'John', 'address': 'Highway 37'}

In [24]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('601a92905a221379b5afe7f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92a05a221379b5afe7f8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92b45a221379b5afe7f9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92e35a221379b5afe7fa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('601a92e35a221379b5afe7fb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('601a92e35a221379b5afe7fc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('601a92e35a221379b5afe7fd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('601a92e35a221379b5afe7fe'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('601a92e35a221379b5afe7ff'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601a92e35a221379b5afe800'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('601a92e35a221379b5afe801'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('601a92e35a221379b5afe802'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('601a92e35a221379b5afe803'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('601a92e35a221379b5afe804'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('601a92e35a221379b5afe805'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [26]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [30]:
myquery = { "address": "Park Lane 38" }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('601a92e35a221379b5afe802'), 'name': 'Ben', 'address': 'Park Lane 38'}

In [31]:
#Find documents where the address starts with the letter "S" or higher:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('601a92e35a221379b5afe7fc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('601a92e35a221379b5afe7ff'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601a92e35a221379b5afe801'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('601a92e35a221379b5afe805'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [33]:
#Find documents where the address starts with the letter "S":
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('601a92e35a221379b5afe7ff'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601a92e35a221379b5afe805'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [34]:
mydoc = mycol.find().sort("name")
for x in mydoc:
    print(x)

{'_id': ObjectId('601a92e35a221379b5afe7fa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('601a92e35a221379b5afe802'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('601a92e35a221379b5afe7fe'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('601a92e35a221379b5afe804'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('601a92e35a221379b5afe7fb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('601a92905a221379b5afe7f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92a05a221379b5afe7f8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92b45a221379b5afe7f9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92e35a221379b5afe7fc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('601a92e35a221379b5afe7ff'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601a92e35a221379b5afe7fd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('601a92e35a221379b5afe800'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('601a92e35a221379b5afe801'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('601a92e35a221379b5afe805'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('601a92e35a221379b5afe803'), 'name': 'William', 'address': 'Central st 954'}

In [35]:
mydoc = mycol.find().sort("name", -1)
for x in mydoc:
    print(x)

{'_id': ObjectId('601a92e35a221379b5afe803'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('601a92e35a221379b5afe805'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('601a92e35a221379b5afe801'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('601a92e35a221379b5afe800'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('601a92e35a221379b5afe7fd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('601a92e35a221379b5afe7ff'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601a92e35a221379b5afe7fc'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('601a92905a221379b5afe7f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92a05a221379b5afe7f8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92b45a221379b5afe7f9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92e35a221379b5afe7fb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('601a92e35a221379b5afe804'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('601a92e35a221379b5afe7fe'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('601a92e35a221379b5afe802'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('601a92e35a221379b5afe7fa'), 'name': 'Amy', 'address': 'Apple st 652'}

In [37]:
myquery = { "address": "Mountain 21" }
x = mycol.delete_one(myquery)
print(x.deleted_count)

0

In [38]:
myquery = { "address": {"$regex": "^S"} }
x = mycol.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

2  documents deleted.

In [ ]:
x = mycol.delete_many({})
print(x.deleted_count, " documents deleted.")

In [ ]:
mycol.drop()

In [39]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)
#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': ObjectId('601a92905a221379b5afe7f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92a05a221379b5afe7f8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92b45a221379b5afe7f9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92e35a221379b5afe7fa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('601a92e35a221379b5afe7fc'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('601a92e35a221379b5afe7fd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('601a92e35a221379b5afe7fe'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('601a92e35a221379b5afe800'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('601a92e35a221379b5afe801'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('601a92e35a221379b5afe802'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('601a92e35a221379b5afe803'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('601a92e35a221379b5afe804'), 'name': 'Chuck', 'address': 'Main Road 989'}

In [40]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }
x = mycol.update_many(myquery, newvalues)
print(x.modified_count, "documents updated.")

0 documents updated.

In [41]:
myresult = mycol.find().limit(5)
#print the result:
for x in myresult:
    print(x)

{'_id': ObjectId('601a92905a221379b5afe7f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92a05a221379b5afe7f8'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92b45a221379b5afe7f9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601a92e35a221379b5afe7fa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('601a92e35a221379b5afe7fc'), 'name': 'Michael', 'address': 'Canyon 123'}

In [43]:
#delete database named 'organisation'
myclient.drop_database('mydatabase')